<%- include("../partials/header") -%>
    <header class="jumbotron">
        <h1>Welcome to the Admin Page!</h1>
    </header>
    <article class="container">
        <h2>What do you want to do?</h2>
        <div>
            <a href="/admin/login" class="btn btn-primary">Login</a>
            <a href="/admin/register" class="btn btn-primary">Register</a>
        </div>
    </article>
<%- include("../partials/footer") -%>
