<%- include("../partials/header") -%>
    <header class="jumbotron">
        <h1>All Seasons</h1>
        <a href="/season/new" class="btn btn-primary">Create a New Season</a>
    </header>
    <div class="container">
        <ol>
            <% seasons.forEach((season)=> { %>
                <h2>
                    <li>
                        <%= season.name %> <a href="/season/<%= season._id %>" class="btn btn-md btn-outline-primary">Edit</a>
                    </li>
                </h2>
            <% }) %>
        </ol>
    </div>

<%- include("../partials/footer") -%>
